.input {
  width: 100%;
  padding: 7px 10px;
  box-sizing: border-box;
  font-size: small;
  line-height: 20px;
  border: 1px solid;
  border-color: var(--color-grey-300);
  transition: border-color 0.15s ease;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  .input {
    background-color: var(--color-black);
  }
}