.button {
  display: flex;
  align-items: center;
  padding: var(--topic-padding);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-grey-100);
}

.button--highlight-light {
  background-color: var(--color-grey-100);
}

.button--highlight-light:hover {
  background-color: var(--color-grey-200);
}

.button--highlight-dark {
  background-color: var(--color-grey-200);
}

.button--highlight-dark:hover {
  background-color: var(--color-grey-300);
}

.button--active, .button--active:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.icon {
  display: flex;
  margin-right: 4px;
  transition: transform 0.3s ease;
  transform: rotate(0); 
}

.icon--open {
  transform: rotate(90deg); 
}

.text {
  width: 100%;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  white-space: nowrap;
  user-select: none;
}

.text-highlight {
  background-color: var(--color-yellow);
}

.pages {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}

.pages-inner {
  overflow: hidden;
}